@import url(./variables.css);
@import url(./defaultlayout.css);  

  /**
   * nut button
   */
  
   .btn {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 30px;
    border: 2px solid var(--citrine);
    border-radius: 50px;
    transition: var(--transition-1);
  }
  
  .btn > ion-icon { font-size: 18px; }
  
  .btn-primary { background: var(--rich-black-fogra-29); }
  
  .btn-primary:is(:hover, :focus) {
    background: var(--citrine);
    color: var(--xiketic);
  }